@import '_reset.scss';
@import '_fonts.scss';
@import '_colors.scss';

@import 'components/_buttons.scss';
@import 'components/_inputs.scss';

h1 {
  color: $color--error;
  font-size: 2em;
  font-weight: bold;
  padding: 2rem;
  font-family: $font1;
}
