@use 'sass:math';

.card {
  display: inline-block;
  padding: 2em;
  color: $color--primary;
  background-color: $color--gray--100;
  border: 0.01em solid $color--lightgrey;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 24px;
  font-family: $font-roboto;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 95%;
  height: 25%;
  box-shadow: 0 4px 8px 0 $color--lightgrey--700;

  &--primary {
    background-color: $color--primary--100;
  }

  &--success {
    background-color: $color--success--100;
  }

  &--warning {
    background-color: $color--warning--100;
  }

  &--error {
    background-color: $color--error--100;
  }

  &--lightgrey {
    background-color: $color--lightgrey--400;
  }
}

@for $i from 6 to 1 {
  .card-#{$i} {
    width: math.div(90%, $i);
  }
}